.footer-container {
    height: 90vh;
}

.footer-top {
    height: 32vh;
    background-color: #f3f5fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.footer-top h2 {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    font-family: "Jost", sans-serif;
    color: rgb(71, 71, 148);
}

.footer-top p {
    margin: 0px;
    opacity: .8;
    padding: 20px;
}

.footer-top input {
    width: 90%;
    padding: 13px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 20%);
}

.subcribe-input {
    margin-top: 20px;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer-top button {
    position: absolute;
    right: 25%;
}

.footer-middle {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: space-around;
}

.infor,
.links,
.services,
.networks {
    width: 25%;
}

.infor h3 {
    color: #37517e;
    font-size: 30px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
}

.infor p {
    color: #5e5e5e;
    font-size: 14px;
}

.links ul,
.services ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    font-size: 15px;
}

.links ul li,
.services ul li {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    line-height: 250%;
    color: #5e5e5e;
}

.links ul li a:hover,
.services ul li a:hover {
    color: rgb(0, 162, 255);
    cursor: pointer;
}

.links h5,
.services h5,
.networks h5 {
    font-size: 17px;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    color: #37517e;
}

.links ul li i,
.services ul li i {
    margin-left: 0;
    margin-right: 15px;
    font-size: 10px;
    color: #47b2e4;
}

.networks p {
    font-size: 14px;
}

.networks i {
    font-size: 20px;
    padding: 10px 12px;
    margin: 5px;
    background-color: #47b2e4;
    color: white;
    border-radius: 50%;
}

.fa-brands.fa-facebook-f {
    padding: 10px 15px;
}

.networks i:hover {
    background-color: #2c84c7;
    cursor: pointer;
}

.footer-bottom {
    font-size: 15px;
    height: 10vh;
    background-color: rgba(40, 58, 90, .9);
    color: white;
    justify-content: center;
    align-items: center;
    line-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.credits a {
    text-decoration: none;
    color: #4dbaed;
}

.credits a:hover {
    color: #90d4f4;
}

@media only screen and (max-width: 991px) {
    .subcribe-input {
        width: 80%;
    }
    .footer-top input {
        width: 100vw;
        padding: 13px 100px;
    }
    .footer-top .btn-sub {
        right: 5%;
        margin-right: 0;
    }
    
    .infor, .services, .links, .networks {
        width: 40%;
        margin: 0 35px;
    }
}

@media only screen and (max-width: 768px) {
    .infor, .services, .links, .networks {
        width: 100%;
        margin: 0 35px;
    }
    .footer-top p {
        margin-bottom: 0px;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright, .credits {
        line-height: 100%;
    }
    .credits {
        margin-top: 10px;
    }
}